.grid-container {
  color: $text-color;
  font-weight: 500;
  font-family: $font;
  background-color: $page-bg;
  display: grid;
  grid-template-columns: 1fr 330px;
  column-gap: 30px;
  margin-bottom: 100px;
  @media (max-width: 1200px) {
    column-gap: 20px;
  }
  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
